.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 60px;
  height: 6vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #2a9d8f;
  padding: 0 20px;
}

.main-header h1 {
  color: #fff;
}
