.button {
  border: none;
  background-color: #2a9d8f;
  color: #fff;
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 6px;
  transition: 0.1s all ease;
  cursor: pointer;
  margin-top: 30px;
}

.button:hover {
  transform: scale(1.02);
}
