.users {
  margin: 20px auto;
  width: 90%;
  max-width: 960px;
}

.users ul {
  list-style: none;
  padding: 10px;
}

.users li {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0.5rem 0;
  padding: 0.5rem;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.error {
  color: #b40e0e;
  font-size: 13px;
}
