.input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
}

.input form {
}

.control {
  margin: 13px auto;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  padding: 4px 0;
}

.control label {
  font-weight: 500;
  width: 50%;
  color: #1f1f1f;
}

.control input {
  font: inherit;
  width: 100%;
  border: 1px solid #ccc;
  padding: 6px;
  border-radius: 4px;
}

.control input:focus {
  outline: none;
}

.control.invalid input {
  border: 1px solid #b40e0e;
  background-color: #fddddd;
}

.control.invalid input:focus {
  border-color: #ff8800;
  background-color: #fbe8d2;
}

.actions {
  text-align: center;
}

.error {
  position: fixed;
  color: #b40e0e;
  font-size: 12px;
  margin: 55px 0 0 30px;
}

@media (min-width: 768px) {
  .control {
    align-items: center;
    flex-direction: row;
  }
  .error {
    margin: 50px 0 0 100px;
  }
}
